<div id="page-searchbar" class="page">
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left back" href="/demos">
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title">搜索栏</h1>
  </header>
  <div class="content">
    <div class="swiper-container swiper-container-horizontal" data-space-between="10">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-active" style="width: 414px; margin-right: 10px;">
            <img class="card-cover" src="//gd1.alicdn.com/bao/uploaded/i1/TB1kzlgHVXXXXbtXpXXXXXXXXXX_!!0-item_pic.jpg_640x640.jpg" alt="">
          </div>
          <div class="swiper-slide swiper-slide-next" style="width: 414px; margin-right: 10px;">
            <img class="card-cover" src="//gd3.alicdn.com/imgextra/i3/238126515/TB21mEfcFXXXXc5XXXXXXXXXXXX_!!238126515.jpg_640x640.jpg" alt="">
          </div>
          <div class="swiper-slide" style="width: 414px; margin-right: 10px;">
            <img class="card-cover" src="//gd2.alicdn.com/imgextra/i2/238126515/TB2TpgmcFXXXXbwXXXXXXXXXXXX_!!238126515.jpg_640x640.jpg" alt="">
          </div>
        </div>
        <div class="swiper-pagination"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
    </div>

    <div class="search-bar">
      <div class="searchbar">
        <a class="searchbar-cancel">取消</a>
        <div class="search-input">
          <label class="icon icon-search" for="search"></label>
          <input type="search" id="search" placeholder="输入关键字...">
        </div>
      </div>
    </div>

    <div>
      <div class="custom-image cat-header">
        <img class="js-lazy js-view-image-item" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/7c7b6c08d09c4b96161964d6ff19bf08.jpg?imageView2/2/w/600/h/600/q/75/format/webp" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/7c7b6c08d09c4b96161964d6ff19bf08.jpg?imageView2/2/w/600/h/600/q/75/format/webp" style="display: block;">
      </div>

      <div class="custom-image clearfix">
        <a href="javascript:void(0);" target="_blank">
            <img class="js-res-load js-view-image-item" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/9ef3b2d113d679586ddf3897c6c34490.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
        </a>
      </div>
    </div>

    <div>
      <div class="custom-image cat-header">
        <img class="js-lazy js-view-image-item" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/299e6905370bd239aebfc7ff1f3ab1d6.jpg?imageView2/2/w/600/h/600/q/75/format/webp" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/299e6905370bd239aebfc7ff1f3ab1d6.jpg?imageView2/2/w/600/h/600/q/75/format/webp">
      </div>

       <div class="row no-gutter">
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/89122703c5eed29190709b848d7e6963.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/89122703c5eed29190709b848d7e6963.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
       <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/89122703c5eed29190709b848d7e6963.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/89122703c5eed29190709b848d7e6963.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
       <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/89122703c5eed29190709b848d7e6963.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/89122703c5eed29190709b848d7e6963.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
       <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/89122703c5eed29190709b848d7e6963.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/89122703c5eed29190709b848d7e6963.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
    </div>

    <!-- catalogs -->


    <div class="row no-gutter">
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
      <div class="col-50 custom-image">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/f85d0e1c2ecc73aa6762c2dfc4136b4a.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>
    </div>

    </div>






    <div class="custom-image">
      <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/a5dc76fdc17a31acc1e8c08a4527f5a0.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/a5dc76fdc17a31acc1e8c08a4527f5a0.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
    </div>

    <div class="custom-image">
      <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/cd714e27e816f3e45ddd073f9d2bbce1.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
    </div>

    <div>
      <div class="custom-image cat-header">
        <img class="js-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/d85936fda0420ed757383c90bad53730.jpg!730x0.jpg" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/08/d85936fda0420ed757383c90bad53730.jpg?imageView2/2/w/730/h/0/q/75/format/webp">
      </div>

      <div class="product-list">
        <div class="row no-gutter">
          <div class="card col-50">
            <div class="card-content">
              <div class="card-content-inner">
                <div class="custom-image">
                  <img class="goods-photo js-goods-lazy" data-src="https://dn-kdt-img.qbox.me/upload_files/2015/11/06/Fv-5hULzVEHuedGskgccF7G4vZUh.jpeg?imageView2/2/w/280/h/280/q/75/format/webp" src="https://dn-kdt-img.qbox.me/upload_files/2015/11/06/Fv-5hULzVEHuedGskgccF7G4vZUh.jpeg?imageView2/2/w/280/h/280/q/75/format/webp">
                </div>

                <div class="pro-title">
                      【大众点评与美团网合并 王兴张涛担任联席CEO】大众点评网与美团网今天联合发布声明，宣布达成战略合作，双方已共同成立一家新公司。新公司将实施Co-CEO制度，美团CEO王兴和大众点评CEO张涛将同时担任联席CEO和联席董事长，重大决策将在联席CEO和董事会层面完成。
                </div>

              </div>
            </div>
            <div class="card-footer">
              <span class="goods-price">
                <em>￥2799.00</em>
              </span>
              <span class="goods-buy"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="product-list list-block media-list">
        <ul>
          <li>
            <a href="/examples/light7-mall/detail" class="item-link item-content">
              <div class="item-media"><img src="//gdp.alicdn.com/bao/uploaded/i1/TB1kzlgHVXXXXbtXpXXXXXXXXXX_!!0-item_pic.jpg_240x240.jpg" width="80"></div>
              <div class="item-inner">
                <div class="item-text">
                  SoundAsleep Dream Series Air Mattress with ComfortCoil Technology
                </div>
                <div class="item-title-row">
                  <div class="item-after">
                    <span class="goods-price">
                      <em>￥2799.00</em>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>


    </div>


  </div>
</div>
