<div class="bar bar-standard bar-footer pay">
  <div class="pull-right pay-d">
    <span class="pay-btn add-to-cart" id="add-to-cart" data-has-variants="<%= product.has_variants? %>"  >加入购物车</span>
  </div>

  <div class="pull-right pay-now">
    <span class="pay-btn buy-now" data-has-variants="<%= product.has_variants? %>"  >立刻购买</span>
  </div>
</div>