<div class="swiper-container swiper-container-horizontal" data-space-between="10">
  <div class="swiper-wrapper">
    <% pictures.each do |picture| %>
      <div class="swiper-slide">
        <%= image_tag picture.path %>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination">
    <% pictures.size.times do %>
      <span class="swiper-pagination-bullet swiper-pagination-bullet-active">
    <% end %>
  </div>
</div>