<div class="top_bg">
  <div class="container">
    <div class="header_top-sec">
      <div class="top_right">
        <ul>
          <li><a href="#">help</a></li>|
          <li><a href="contact.html">Contact</a></li>|
          <li><a href="login.html">Track Order</a></li>
        </ul>
      </div>
      <div class="top_left">
        <ul>
          <% if logged_in? %>
            <li class="top_link">Email:<a href="/mobile/user_info"><%= current_customer.email %></a></li>|
          <% end %>
          <li class="top_link">
            <% if logged_in? %>
              <%= link_to current_customer.full_name, "#" %>
            <% else %>
              <a href="/mobile/login">My Account</a>
            <% end %>
          </li>
        </ul>
      </div>
        <div class="clearfix"> </div>
    </div>
  </div>
</div>