<div class="top_bg">
  <div class="container">
    <div class="header_top-sec">
      <div class="top_right">
        <ul>
          <li><a href="#">help</a></li>|
          <li><a href="contact.html">Contact</a></li>|
          <li><a href="login.html">Track Order</a></li>
        </ul>
      </div>
      <div class="top_left">
        <ul>
          <li class="top_link">Email:<a href="mailto:info@example.com">mail@example.com</a></li>|
          <li class="top_link"><a href="login.html">My Account</a></li>
        </ul>
      </div>
        <div class="clearfix"> </div>
    </div>
  </div>
</div>