<div class="container">
	<div class="weui_cells">
	    <div class="weui_cell">
	        <div class="weui_cell_bd weui_cell_primary">
	            <p>店铺：云购商城</p>
	        </div>
	        <div class="weui_cell_ft">
	            <a href="#">编辑</a>
	        </div>
	    </div>
	</div>

    <div class="weui_cells weui_cells_access weui_cells_checkbox">

        <a class="weui_cell weui_check_label" for="s11" href="javascript:;">
        	<div class="weui_cell_hd">
                <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_hd"><img src="" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>13寸 Macbook pro</p>
            </div>
            <div class="weui_cell_ft">
                <p>￥ 9888</p>
                <p>x 1</p>
            </div>
        </a>

        <a class="weui_cell weui_check_label" for="s12" href="javascript:;">
        	<div class="weui_cell_hd">
                <input type="checkbox" class="weui_check" name="checkbox1" id="s12" checked="checked">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_hd"><img src="" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>15寸 Macbook pro</p>
            </div>
            <div class="weui_cell_ft">
                <p>￥ 13888</p>
                <p>x 1</p>
            </div>
        </a>
    </div>


	<!-- 结算 -->
	<div class="weui_cells">
	    <div class="weui_cell">
	    	<div class="weui_cell_hd">
                <input type="checkbox" class="weui_check" name="checkbox1" id="s2" checked="checked">
                <i class="weui_icon_checked"></i>
            </div>
	        <div class="weui_cell_bd weui_cell_primary">
	            <p>全选</p>
	        </div>
	        <div class="weui_cell_ft">
	            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_primary">结算</a>
	        </div>
	    </div>
	</div>


</div>