
<style type="text/css">
body{
    background-color: #FBF9FE;
}
p{
    margin: 0;
}
</style>

<div class="container js_container">
<div class="page cell">
        <div class="bd">
            <div class="weui_cells">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>店铺：云购商城</p>
                    </div>
                    <div class="weui_cell_ft">
                        <a href="#">编辑</a>
                    </div>
                </div>
            </div>

            <div class="weui_cells weui_cells_checkbox">
                <label class="weui_cell weui_check_label" for="s11">
                    <div class="weui_cell_hd">
                        <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_hd"><img src="http://placehold.it/80x80" alt="" style="width:80px;margin-right:5px;display:block"></div>
                    <div class="weui_cell_bd weui_cell_primary">
                       <a href="#">
                            <p>Apple 配备 Retina 显示屏的 MacBook Pro MF840CH/A 13.3英寸宽屏笔记本电脑 256GB</p>
                        </a>
                    </div>
                    <div class="weui_cell_ft">
                        ￥10188
                    </div>
                </label>
                <label class="weui_cell weui_check_label" for="s12">
                    <div class="weui_cell_hd">
                        <input type="checkbox" class="weui_check" name="checkbox1" id="s12" checked="checked">
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_hd"><img src="http://placehold.it/80x80" alt="" style="width:80px;margin-right:5px;display:block"></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <a href="#">
                            <p>Apple 配备 Retina 显示屏的 MacBook Pro MF840CH/A 13.3英寸宽屏笔记本电脑 256GB</p>
                        </a>
                    </div>
                    <div class="weui_cell_ft">
                        ￥10188
                    </div>
                </label>
            </div>

            <div class="weui_cells weui_cells_checkbox">
                <label class="weui_cell weui_check_label" for="s0">
                    <div class="weui_cell_hd">
                        <input type="checkbox" class="weui_check" name="checkbox1" id="s0" checked="checked">
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>全选</p>
                    </div>
                    <div class="weui_cell_ft hurdle_bottom">
                        <a class="weui_btn weui_btn_warn" href="javascript:">确定</a>
                    </div>
            </div>
        </div>
    </div>
</div>