<div class="container">
	<div class="weui_cells">
	    <div class="weui_cell">
	        <div class="weui_cell_bd weui_cell_primary">
	            <p>店铺：云购商城</p>
	        </div>
	        <div class="weui_cell_ft">
	            <a href="#">编辑</a>
	        </div>
	    </div>
	    <div class="weui_cells weui_cells_checkbox weui_cells_access">
			<label class="weui_cell weui_check_label" for="s11">
	            <div class="weui_cell_hd">
	                <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
	                <i class="weui_icon_checked"></i>
	            </div>
	            
	            <div class="weui_cell_hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>13寸 Macbook pro</p>
	            </div>
	            <div class="weui_cell_ft">
	                <p>￥ 9888</p>
	                <p>x 1</p>
	            </div>
	        </label>
	        <label class="weui_cell weui_check_label" for="s12">
	            <div class="weui_cell_hd">
	                <input type="checkbox" class="weui_check" name="checkbox1" id="s12" checked="checked">
	                <i class="weui_icon_checked"></i>
	            </div>
	            <div class="weui_cell_hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>15寸 Macbook pro</p>
	            </div>
	            <div class="weui_cell_ft">
	                <p>￥ 13888</p>
	                <p>x 1</p>
	            </div>
	        </label>
	    </div>



	</div>

    


	<!-- 结算 -->

	<div class="weui_cells weui_cells_checkbox">
        <label class="weui_cell weui_check_label" for="s21">
            <div class="weui_cell_hd">
                <input type="checkbox" class="weui_check" name="checkbox1" id="s21" checked="checked">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>全选</p>
            </div>
            <div class="weui_cell_ft">
	            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_primary">结算</a>
	        </div>
        </label>
    </div>
</div>