<div class="container">
    <div class="weui_cells weui_cells_checkbox weui_cells_access">
    	<div class="weui_cell">
	        <div class="weui_cell_bd weui_cell_primary">
	            <p>店铺：云购商城</p>
	        </div>
	        <div class="weui_cell_ft">
	            <a href="#">编辑</a>
	        </div>
	    </div>

		<label class="weui_cell weui_check_label" for="s11">
            <div class="weui_cell_hd">
                <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
                <i class="weui_icon_checked"></i>
            </div>
            
            <div class="weui_cell_hd"><img src="http://placehold.it/240x320" alt="" style="width:80px;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>13寸 Macbook pro</p>
            </div>
            <div class="weui_cell_ft">
                <p>￥ 9888</p>
                <p>x 1</p>
            </div>
        </label>
    </div>
	<!-- 结算 -->

	<div class="weui_cells weui_cells_checkbox">
        <label class="weui_cell weui_check_label" for="s21">
            <div class="weui_cell_hd">
                <input type="checkbox" class="weui_check" name="checkbox1" id="s21" checked="checked">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>全选</p>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>合计：9888元</p>
            </div>
            <div class="weui_cell_ft">
	            <a href="javascript:;" class="weui_btn weui_btn_warn weui_btn_primary">结算</a>
	        </div>
        </label>
    </div>
</div>