<style>
      .img-padding {
        margin-left: 15px;
      }
      .item-bottom{
        width: 100%;
        position:absolute;
        bottom:10px;
        padding:0px;
        margin:0px
      }
    </style>

    <div id="page-check-list" class="page">
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left back" href="/demos/list">
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title">可选择列表</h1>
  </header>
  <div class="content">
    <div class="content-block-title">多选</div>
    <div class="list-block media-list">
      <ul>
        <li>
          <label class="label-checkbox item-content">

              <input type="checkbox" name="checkbox">
              <div class="item-media" ><i class="icon icon-form-checkbox"></i></div>



            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">全选</div>
                <a href="#"><div class="item-after">编辑</div></a>
              </div>
            </div>
          </label>
        </li>
        <li>
          <label class="label-checkbox item-content">
            <input type="checkbox" name="checkbox">
            <div class="item-media" ><i class="icon icon-form-checkbox"></i></div>
            <div class="item-media img-padding" style="padding-top: 15px;padding-bottom: 15px;"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="120"></div>
            <div class="item-inner">
              <!-- <div class="item-subtitle">好厉害的裙子 可以飞的裙子，超重力裙子 看到就爆的裙子</div>
              <div class="item-text">颜色： 红 尺寸：15ct，材料：木头，红色厉害</div>
              <div class="item-bottom">
                <div class="row">
                  <div class="col-80">
                    23983
                  </div>
                  <div class="col-20">
                    x2
                  </div>
                </div>
              </div> -->
              <div class="numbers-row ">
                      <input type="number" id="sku-quantity" name="quantity" value="1" class="form-control cart_div_number_input">
                    </div>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">

function addToCartBinding() {
  $(".numbers-row").before('<div class="dec btn-on">-</div>')
  $(".numbers-row").after('<div class="inc btn-on">+</div>')
  $(".cart-quantity .btn-on").on("click", function() {

    var $button = $(this);
    var oldValue = $button.parent().find("input").val();

    if ($button.text() == "+") {
      var newVal = parseFloat(oldValue) + 1;
    } else {
     // Don't allow decrementing below zero
      if (oldValue > 1) {
        var newVal = parseFloat(oldValue) - 1;
      } else {
        newVal = 1;
      }
    }

    $button.parent().find("input").val(newVal);

  });
}
$(document).ready(function(){
  addToCartBinding();

})
</script>