<!DOCTYPE html>
<html>
<head>
  <title>Shopper</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.5.7/css/??sm.min.css,sm-extend.min.css">
  <%= stylesheet_link_tag 'mobile', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.8/js/??sm.min.js,sm-extend.min.js' charset='utf-8'></script>
  <%= yield %>

  <%= javascript_include_tag 'mobile', 'data-turbolinks-track' => true %>
</body>
</html>
